p{
    background: lightsteelblue; color: navy;
}li{
    background: aqua; color: darkslategrey;
 }
 h1{
     background: darkolivegreen; color: navy;
 }
 h2{
     background: cadetblue; color: navy;
 }